@model SimplifiedLogin.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<section class="jumbotron bg-dark">
    <div class="container">
        <div class="row">
            <h2>Hello @User.Identity.GetUserName()!</h2> 
        </div>
        <div class="row">
            <h3>This is where you can edit veteran portfolio</h3>
        </div>
        <div class="row">
            <h2>@Html.ActionLink("Change Password", "Index", "Veteran/Changepassword", routeValues: null, htmlAttributes: new { title = "Change Password", @class = "nav-link" })</h2>
        </div>
    </div>
</section>