@model SimplifiedLogin.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<section class="jumbotron bg-dark">
    <div class="container">
        <div class="row">
            <h2>Hello @User.Identity.GetUserName()!</h2>
        </div>
        <div class="row">
            <h3>This is where you can edit veteran portfolio</h3>
        </div>
        <div class="row">
            <h2>@Html.ActionLink("Change Password", "Index", "Veteran/Changepassword", routeValues: null, htmlAttributes: new { title = "Change Password", @class = "nav-link" })</h2>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".map-modal" data-whatever="something">Test Modal </button>
        <div class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="map-modal-label">Select a map point</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-md-column flex-sm-row modal-flex-wrapper">
                        <div class="modal-map-container" id="leaflet-map">
                            <script>
                                var map = L.map('leaflet-map').setView([51.505, -0.09], 13);

                                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                    maxZoom: 18,
                                    id: 'mapbox.streets',
                                    accessToken: 'pk.eyJ1IjoibWljaDkzIiwiYSI6ImNqZXMyMHMzeDAya3QzM3BlcWZoN3kyOHIifQ.o-Pj-zET7xQeBp7mOEt7Og'
                                }).addTo(map);

                                var marker = L.marker([51.5, -0.09]).addTo(map);

                                //marker.bindPopup("<b>Test popup.").openPopup();

                                function onMapClick(e) {
                                    //alert(e.latlng);
                                    //console.log(map);
                                    map.removeLayer(marker);
                                    marker = L.marker(e.latlng).addTo(map);
                                }

                                map.on('click', onMapClick);
                            </script>

                        </div>
                        <div class="modal-form-container">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>