@model SimplifiedLogin.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<section class="jumbotron bg-dark">
    <div class="container">
        <div class="row">
            <h2>Hello @User.Identity.GetUserName()!</h2>
        </div>
        <div class="row">
            <h3>This is where you can edit veteran portfolio</h3>
        </div>
        <div class="row">
            <h2>@Html.ActionLink("Change Password", "Index", "Veteran/Changepassword", routeValues: null, htmlAttributes: new { title = "Change Password", @class = "nav-link" })</h2>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".map-modal" data-whatever="something">Test Modal </button>
        <div class="modal fade map-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="map-modal-label">Select a map point</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-map-container" id="map">
                            <script>
                                mapboxgl.accessToken = 'pk.eyJ1IjoibWljaDkzIiwiYSI6ImNqZXMyMHMzeDAya3QzM3BlcWZoN3kyOHIifQ.o-Pj-zET7xQeBp7mOEt7Og';
                                var map = new mapboxgl.Map({
                                    container: 'map',
                                    style: 'mapbox://styles/mapbox/light-v9',
                                    center: [-96, 37.8],
                                    zoom: 3
                                });

                                var geojson = {
                                    type: 'FeatureCollection',
                                    features: [{
                                        type: 'Feature',
                                        geometry: {
                                            type: 'Point',
                                            coordinates: [-77.032, 38.913]
                                        },
                                        properties: {
                                            title: 'Mapbox',
                                            description: 'Washington, D.C.'
                                        }
                                    },
                                    {
                                        type: 'Feature',
                                        geometry: {
                                            type: 'Point',
                                            coordinates: [-122.414, 37.776]
                                        },
                                        properties: {
                                            title: 'Mapbox',
                                            description: 'San Francisco, California'
                                        }
                                    }]
                                };

                                // add markers to map
                                geojson.features.forEach(function (marker) {
                                    // create a HTML element for each feature
                                    var el = document.createElement('div');
                                    el.className = 'marker';

                                    // make a marker for each feature and add to the map
                                    new mapboxgl.Marker(el)
                                        .setLngLat(marker.geometry.coordinates)
                                        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                                            .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
                                        .addTo(map);
                                });

                                map.on('click', function (e) {
                                    var el = document.createElement('div');
                                    el.className = 'marker';

                                    new mapboxgl.Marker(el)
                                        .setLngLat(e.lngLat)
                                        .setPopup(new mapboxgl.Popup({ offset: 25 }))
                                        .addTo(map)
                                })

                            </script>

                        </div>
                        <div class="modal-form-container">...</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>