/*Navbar*/
.overwrite-bg-navbar {
    background-color: #424756
}
.overwrite-navbar-text .navbar-brand {
    color: #fff
}
.navbar-dark .navbar-text a {
    color: #fff
}
.navbar-item a {
    color: #fff
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem
}
.custom-navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    /*background: no-repeat center center;*/
    background-size: 100% 100%;
    color: #fff
}

/*Jumbotron*/
.overwrite-bg-jumbo {
    background-color: #F3F4EC
}