
<section class="custom-jumbotron overwrite-bg-jumbo">
    <div class="overwrite-topcontainer center">
        <div class="row">
            <img alt="MSR Logo" data-type="image" src="https://image.ibb.co/cU4Ki0/MSR-Star-Logo.png" style="width: 196px; height: 173px;">
            <br>
        </div>
        <div class="row">
            <h1>
                <span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;">
                    <span>
                        <span><strong>MY SCHOOL REMEMBERS</strong></span>
                    </span>
                </span>
            </h1>
        </div>
        <div class="row">
            <p>
                <br>
                A collection of information of the veterans who served in World War I. <br>
                With information gathered from various sources such as official websites, archived documents, veteran relatives & community stories - we remember these veterans as individuals. <br>
                We focus on the life of the veteran outside the war - displaying how these individuals lived, how these individuals were affected & what they accomplished.
            </p>
            <p>
                All veteran content is created & maintained by the Year 9 students & teaching staff of participating Australian High Schools. <br>
                Through education & community connection we keep the promise to not forget the sacrifices made.<br>
                <i style="font-size:18px">~Lest We Forget</i>
            </p>
        </div>
    </div>
    <hr>
    <div class="overwrite-botcontainer">
        <div class="row">
            <h5>
                Check out the below websites, which help make this application possible:
            </h5>
        </div>
        <div class="row">
            <div class="custom-card">
                <a href="https://www.aif.adfa.edu.au/index.html" target="_blank">
                    <img class="card-img-top" src="https://image.ibb.co/dNLwWV/AIF-Logo.png" alt="AIF Logo">
                </a>
                <div class="card-body"> 
                    <h6>The AIF Project</h6>
                    <p>A directory of veterans enlisted with the Australia Imperial Force.</p> 
                </div>
            </div>
            <div class="custom-card">
                <a href="https://www.awm.gov.au/" target="_blank">
                    <img class="card-img-top" src="https://dartconnections.org.au/images/provider-logos/AUSTRALIAN-WAR-MEMORIAL.jpg?Action=thumbnail&Width=300&Height=300&algorithm=proportional" alt="AWM Logo">
                </a>
                <div class="card-body">
                    <h6>The Australian War Memorial</h6>
                    <p>An extensive archive of war material ranging from veterans, events, places, units.</p>
                </div>
            </div>
            <div class="custom-card">
                <a href="http://www.naa.gov.au/" target="_blank">
                    <img class="card-img-top" src="https://i.vimeocdn.com/portrait/30475_300x300" alt="NAA Logo">
                </a>
                <div class="card-body">
                    <h6>National Archives of Australia</h6>
                    <p>A collection of Government records that have affected Australia.</p>
                </div>
            </div>
            <div class="custom-card">
                <a href="https://trove.nla.gov.au/" target="_blank">
                    <img class="card-img-top" src="https://trove.nla.gov.au/static/54ecdc2/img/trove-logo-social-share.jpg" alt="Trove Logo">
                </a>
                <div class="card-body">
                    <h6>Trove</h6>
                    <p>A vast collection of resources relating to Australia - ranging from books, diaries, people, music, newspapers and much more.</p>
                </div>
            </div>
        </div>
    </div>
</section>

