img {
    cursor: zoom-in;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#block {
    display: inline-block;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    height: 450px;
}

.card {
    margin-top: 4%;
}
