body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#block {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 450px;
}

.card {
    margin-top: 4%;
}

#home-hero {
    background: url("home-hero-blur.jpg");
    background-size: cover;
    height: 97vh;
}

#page-layout {
    padding-top: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
    min-height: 100vh;
}
#page-layout2 {
    padding-top: 9vh;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 94.5vh;
}

.section {
    margin: 10px 0;
    padding: 10px;
    color: white;
    background-color:gray;
}

.content {
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
}

.img-click {
    cursor: zoom-in;
}

i {
    color:white;
}

i:hover {
    color:gray;
}
