@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (User.Identity.GetUserName() == "admin" || User.Identity.GetUserName() == "Admin")
        {
            <ul class="navbar-nav ml-auto ">
                <li class="navbar-item">
                    <div class="btn-group nav-link" style="padding:0;">
                        <button type="button" class="btn dropdown-toggle bg-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })</button>
                        <div class="dropdown-menu dropdown-menu-right bg-dark">
                            <a class="dropdown-item" href="/Account/Register">Register User</a>
                            <a class="dropdown-item" href="/Admin/CreateVeteran">Create Veteran</a>
                            <a class="dropdown-item" href="/Manage/ChangePassword">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </div>
                    </div>
                </li>
            </ul>
        }
        else
        {
            <ul class="navbar-nav ml-auto ">
                <li class="navbar-item">
                    <div class="btn-group nav-link" style="padding:0;">
                        <button type="button" class="btn dropdown-toggle bg-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })</button>
                        <div class="dropdown-menu dropdown-menu-right bg-dark">
                            <a class="dropdown-item" href="/UserVeteran/PortfolioCreation">Manage Portfolio</a>
                            <a class="dropdown-item" href="/Veterans/Portfolio/@User.Identity.GetUserName()">View Portfolio</a>
                            <a class="dropdown-item" href="/Manage/ChangePassword">Change Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </div>
                    </div>
                </li>
            </ul>
        }

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
