@{
    ViewBag.Title = "Welcome To MSR!";
}

<section class="jumbotron bg-dark">
    <div class="container">
        <div class="row">
            <img alt="" data-type="image" src="https://static.wixstatic.com/media/8b7dd1_00e18c8663914e8ea1ca648538b7b2d3.jpg/v1/fill/w_196,h_173,al_c,q_80,usm_0.66_1.00_0.01/8b7dd1_00e18c8663914e8ea1ca648538b7b2d3.jpg" style="width: 196px; height: 173px;">
            <br>
        </div>
        <div class="row">
            <h3 class="font_3" style="font-size:110px; line-height:0.8em;">
                <span style="text-shadow:rgba(0, 0, 0, 0.4) 0px 4px 5px;">
                    <span style="font-size:110px;">
                        <span>MY SCHOOL REMEMBERS</span>
                    </span>
                </span>
            </h3>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <a class="col-sm-6 btn-floating text-center" href="http://www.naa.gov.au/">
                <h3>National Archives Of Australia</h3>
            </a>
            <a class="col-sm-6 btn-floating text-center" href="https://www.awm.gov.au/">
                <h3>Australian War Memorial</h3>
            </a>

        </div>
        <div class="row">
            <a class="col-sm-6 btn-floating text-center" href="https://trove.nla.gov.au/">
                <h3>Trove</h3>
            </a>
            <a class="col-sm-6 btn-floating text-center" href="https://www.aif.adfa.edu.au/index.html">
                <h3>AIF</h3>
            </a>
        </div>
    </div>
</section>